Lab 5/Employee_Schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Employee">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Employee1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Details">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="First_Name"/>
                    <xs:element type="xs:string" name="Last_Name"/>
                    <xs:element type="xs:date" name="Dob"/>
                    <xs:element type="xs:string" name="Gender"/>
                    <xs:element type="xs:string" name="Position"/>
                    <xs:element type="xs:int" name="Salary"/>
                    <xs:element type="xs:string" name="Email"/>
                    <xs:element type="xs:long" name="Phone_Number"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Employee2">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Details">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="First_Name"/>
                    <xs:element type="xs:string" name="Last_Name"/>
                    <xs:element type="xs:date" name="Dob"/>
                    <xs:element type="xs:string" name="Gender"/>
                    <xs:element type="xs:string" name="Position"/>
                    <xs:element type="xs:int" name="Salary"/>
                    <xs:element type="xs:string" name="Email"/>
                    <xs:element type="xs:long" name="Phone_Number"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Employee3">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Details">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="First_Name"/>
                    <xs:element type="xs:string" name="Last_Name"/>
                    <xs:element type="xs:date" name="Dob"/>
                    <xs:element type="xs:string" name="Gender"/>
                    <xs:element type="xs:string" name="Position"/>
                    <xs:element type="xs:int" name="Salary"/>
                    <xs:element type="xs:string" name="Email"/>
                    <xs:element type="xs:long" name="Phone_Number"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="category"/>
    </xs:complexType>
  </xs:element>
</xs:schema>